<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@order.errors.count, "error") %>.
    </div>
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :delivery_address %>
    <%= f.text_field :delivery_address, placeholder: 'Give us your address',
      class: 'form-control' %>

    <%= f.label :delivery_type %>
    <%= f.select :delivery_type, options_for_select(Order::DELIVERY_TYPES), {prompt: '[Select a delivery method]'}, {required: 'true', autofocus: 'true', class: 'form-control'} %>

    <%= f.label :payment_type %>
    <%= f.select :payment_type, options_for_select(Order::PAYMENT_TYPES), {prompt: '[Select a payment method]'}, {required: 'true', autofocus: 'true', class: 'form-control'} %>

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :cart_id, value: current_cart.id %>

    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>
<% end %>
