<main id="product-show">
  <div class="left-column img-responsive">
      <%= image_tag("products/"+@product.img_url) %>
  </div>
  <div class="right-column">
    <div class="product-description">
      <span><%= @product.lable %></span>
      <h1><%= @product.name %></h1>
      <h2><%= @product.code %></h2>
      <hr>
      <p><%= @product.description %></p>
    </div>
    <div class="product-price">
      <span><%= @product.price %>$</span>
    </div>
    <div>
      <%= form_for @product, :url => cart_items_path, :html => { :method => :post } do |f|%>
      <%= f.hidden_field :product_id, value: @product.id %>
      <div>
        <%= f.number_field :quantity, value: 1, class: "form-control text-center", min: 1 %>
      </div>
      <%= f.submit 'Add to Cart', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</main>
